<article>
  <a href="/forum">Back to discussion list</a>
  <div id="discussion-div">
    <ul id="discussion-post-list">
      {{#each posts}}
        <li>
          {{#if ownerPfp}}
            <img id="discussion-post-author-pfp" src="{{ownerPfp}}" />
          {{else}}
            <img
              id="discussion-post-author-pfp"
              src="/public/img/no_image.jpeg"
            />
          {{/if}}
          <p id="discussion-post-author">{{ownerUsn}}</p>
          <p>{{content}}</p>
          <p>{{date}}</p>
        </li>
      {{/each}}
    </ul>
  </div>
</article>