<article>
  {{#if session.user.email}}
    <h2>Welcome, {{session.user.email}}</h2>
    <a href="/myprofile">My Profile</a>
    <a href="/logout">Logout</a>
  {{else}}
    <form action="/login" method="POST" id="login-form">
      <label for="email">Enter your email:</label>
      <input
        type="text"
        name="email"
        id="email"
        placeholder="enter your email here"
      />
      <label for="password">Enter a password:</label>
      <input
        type="password"
        name="password"
        id="password"
        placeholder="enter a password here"
      />
      <button type="submit">Submit</button>
    </form>
    <a href="/signup">"Need to register? Click here to sign-up"</a>
  {{/if}}

  {{#if error}}
    <p>{{error}}</p>
  {{/if}}

  <ul id="home-articles" hidden>
  </ul>
  {{#each sports}}
    <h2>{{name}}</h2>
    {{#each leagues}}
      <h3>{{name}}</h3>
      <ul>
        {{#each teams}}
          <li>{{team.name}}</li>
        {{/each}}
      </ul>
    {{/each}}
  {{/each}}
  <div>
    <a href="/latestnews">Latest News</a>
    <a href="/player">Search for players</a>
  </div>
  <script
    src="https://code.jquery.com/jquery-3.6.0.min.js"
    integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4="
    crossorigin="anonymous"
  ></script>
  <script src="/public/js/home.js"></script>
</article>