<article>
    <h2>Latest NFL News</h2>
    {{#if nflArticles}}
    <ul>
        {{#each nflArticles}}
        <li><a href="{{links.web.href}}" target="_blank">{{headline}}</a></li>
        {{/each}}
    </ul>
    {{/if}}

    <p>Latest College Football News</p>
    {{#if collegeArticles}}
    <ul>
        {{#each collegeArticles}}
        <li><a href="{{links.web.href}}" target="_blank">{{headline}}</a></li>
        {{/each}}
    </ul>
    {{/if}}

    <p>Latest Baseball News</p>
    {{#if baseballArticles}}
    <ul>
        {{#each baseballArticles}}
        <li><a href="{{links.web.href}}" target="_blank">{{headline}}</a></li>
        {{/each}}
    </ul>
    {{/if}}
</article>
<a href="/">Go back home</a>