<article>
    <h2>Latest NFL News</h2>
    {{#if nflArticles}}
    <ul>
        {{#each nflArticles}}
        <li><a href="{{links.web.href}}" target="_blank" class="text link">{{headline}}</a></li>
        {{/each}}
    </ul>
    {{/if}}

    <h2>Latest College Football News</h2>
    {{#if collegeArticles}}
    <ul>
        {{#each collegeArticles}}
        <li><a href="{{links.web.href}}" target="_blank" class="text link">{{headline}}</a></li>
        {{/each}}
    </ul>
    {{/if}}

    <h2>Latest Baseball News</h2>
    {{#if baseballArticles}}
    <ul>
        {{#each baseballArticles}}
        <li><a href="{{links.web.href}}" target="_blank" class="text link">{{headline}}</a></li>
        {{/each}}
    </ul>
    {{/if}}
</article>