<article>
  {{#if pfp}}
    <img id="myprofile-pfp" src="{{pfp}}" />
  {{else}}
    <img id="myprofile-pfp" src="/public/img/no_image.jpeg" />
  {{/if}}
  <h1>Name</h1>
  {{#if firstname}}
    <p id="myprofile-name">{{firstname}} {{lastname}}</p>
  {{else}}
    <p id="myprofile-name">None</p>
  {{/if}}
  <h1>Username</h1>
  <p id="myprofile-usn">{{username}}</p>
  <h1>Email</h1>
  <p id="myprofile-em">{{email}}</p>
  <h1>Teams</h1>
  <ul>
    {{#each teams}}
      <li>{{name}}</li>
    {{/each}}
  </ul>
  <div id="myprofile-changepfp" hidden>
    <form id="pfp-form">
      <label for="pfpurl">Enter your new profile picture's URL:</label>
      <input type="text" name="pfpurl" id="pfpurl" placeholder="URL" />
      <button type="submit">Submit</button>
    </form>
  </div>
  <div id="myprofile-changename" hidden>
    <form id="name-form">
      <label for="firstname">Enter your first name:</label>
      <input
        type="text"
        name="firstname"
        id="firstname"
        placeholder="First name"
      />
      <label for="lastname">Enter your last name:</label>
      <input
        type="text"
        name="lastname"
        id="lastname"
        placeholder="Last name"
      />
      <button type="submit">Submit</button>
    </form>
  </div>
  <div id="myprofile-changeusername" hidden>
    <form id="usn-form">
      <label for="username">Enter your new username:</label>
      <input type="text" name="username" id="username" placeholder="Username" />
      <button type="submit">Submit</button>
    </form>
  </div>
  <div id="myprofile-changeemail" hidden>
    <form id="em-form">
      <label for="email">Enter your new email:</label>
      <input type="text" name="email" id="email" placeholder="Email" />
      <button type="submit">Submit</button>
    </form>
  </div>
  <div id="myprofile-changepassword" hidden>
    <form id="pwd-form">
      <label for="password">Enter your new password:</label>
      <input
        type="password"
        name="password"
        id="password"
        placeholder="Password"
      />
      <button type="submit">Submit</button>
    </form>
  </div>
  <button id="myprofile-pfpButton">Change Profile Picture</button>
  <button id="myprofile-nameButton">Change Name</button>
  <button id="myprofile-usnButton">Change Username</button>
  <button id="myprofile-emButton">Change Email</button>
  <button id="myprofile-pwdButton">Change Password</button>
  <a href="/">Home</a>
  <a href="/logout">Logout</a>
  <script
    src="https://code.jquery.com/jquery-3.6.0.min.js"
    integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4="
    crossorigin="anonymous"
  ></script>
  <script src="/public/js/profile.js"></script>
</article>