<article>
  <h1>Tickets</h1>
  {{#if fb}}
    <h2>Football</h2>
    <ul>
      {{#each fb}}
        <li><a href="{{url}}" target="_blank">{{name}}, {{dates.start.localDate}}</a></li>
      {{/each}}
    </ul>
  {{/if}}
  {{#if bab}}
    <h2>Baseball</h2>
    <ul>
      {{#each bab}}
        <li><a href="{{url}}" target="_blank">{{name}}, {{dates.start.localDate}}</a></li>
      {{/each}}
    </ul>
  {{/if}}
  {{#if bb}}
    <h2>Basketball</h2>
    <ul>
      {{#each bb}}
        <li><a href="{{url}}" target="_blank">{{name}}, {{dates.start.localDate}}</a></li>
      {{/each}}
    </ul>
  {{/if}}
</article>
<a href="/">Go back home</a>