<article>
  <ul>
    {{#each articles}}
      <li><a href="{{links.web.href}}">{{headline}}</a></li>
    {{/each}}
  </ul>
  {{#each sports}}
    <h2>{{name}}</h2>
    {{#each leagues}}
      <h3>{{name}}</h3>
      <ul>
        {{#each teams}}
          <li>{{team.name}}</li>
        {{/each}}
      </ul>
    {{/each}}
  {{/each}}
</article>