<div class="container">
    <div class="item">
        <h1>{{title}}</h1>
        <h2>{{playerSearchTerm}}</h2>
        <section>
          <div class="left">
            <img id="img" alt="{{playerSearchTerm}}" src="{{playerPhoto.href}}"/> 
          </div>
           <ul>
               <li>{{playerWeight}}</li>
               <li>{{playerAge}}</li>
               <li>{{playerCareerLength.years}}</li>
               <li>College</li>
               <li>Birthplace</li>
           </ul>
        </section>
        <a href="/player">Make another search</a>
    </div>    
</div>