<div class="container">
    <div class="item">
        <h1>{{title}}</h1>
        <h2>{{playerSearchTerm}}</h2>
        <section>
            <ul>{{someData}}</ul>
            {{#if someData}}
            <ul>
                {{#each someData}}
                    <li>
                        <p>{{this.weight}}</p>
                    </li>
                {{/each}}
            </ul>
            {{else}}
                <p class="show-not-found">We're sorry, but no results were found for {{showSearchTerm}}.</p>
            {{/if}}
            <a href="/player">Make another search</a>
        </section>
    </div>    
</div>